.principalContact, .principalContact--apply {
  background-color: #EF476F;
  width: 5rem;
  height: 30rem;
  margin: 5rem 5rem;
  position: relative;
  padding-bottom: 2rem;
  min-height: 100vh; }

.principalContact--apply {
  width: 90%;
  height: auto; }

article {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 40px;
  padding: 12px; }

.principal__tituloOS {
  color: white; }

@media only screen and (max-width: 500px) {
  .logoCocreative {
    width: 92px; }
  .fotoMagui {
    width: 10rem;
    height: fit-content; }
  .fotoMili {
    width: 10rem;
    height: fit-content; }
  .fotoEuge {
    width: 10rem;
    height: fit-content; }
  .fotoBusqueda {
    width: 150px;
    height: min-content; }
  .principalService {
    margin: 0px; }
    .principalService h1 {
      font-size: 18px; }
    .principalService h2 {
      font-size: 16px; }
    .principalService h3 {
      font-size: 14px; }
    .principalService h4 {
      font-size: 12px; }
  .fotoPortada {
    width: 100vw;
    height: fit-content; }
  .principalIndex .principal__slogan {
    font-size: 15px;
    padding: 15px;
    padding-bottom: 5px;
    margin: 1rem; }
  .mainAbout div h1 {
    margin-left: 236px;
    font-size: 22px; }
  .mainAbout div h2 {
    margin-left: 208px;
    font-size: 18px; }
  .mainAbout div p {
    margin-left: 250px;
    font-size: 10px;
    width: 220px; }
  .mainAbout div {
    width: 520px; }
  .mainAbout img {
    background-position: bottom;
    background-size: 99vw;
    height: 536px; }
  .mainAbout .ourValues {
    width: 449px;
    margin-left: 20px;
    margin-top: 20px; }
  .colorFondoapply {
    font-size: 10px; }
    .colorFondoapply h2 {
      font-size: 24px; }
    .colorFondoapply h3 {
      color: aliceblue; }
    .colorFondoapply .studylevel {
      font-size: 11px; }
    .colorFondoapply #botonApply {
      font-size: 1rem;
      width: 8rem; }
  .textoJoin {
    font-size: 30px;
    width: 238px;
    margin-left: 132px; }
  label {
    font-size: 11px; }
    label select {
      width: 223px; }
  .contenedorPrincipal p {
    font-size: 5px; }
  .contenedorPrincipal h3 {
    font-size: 5px;
    justify-content: left; }
  .contenedorPrincipal h2 {
    font-size: 8px;
    justify-content: left;
    margin-left: 50px; }
  .contenedorPrincipal h1 {
    font-size: 15px;
    margin-left: 50px;
    width: 176px; }
  .principalContact, .principalContact--apply {
    margin: 0px 75px; }
  .principalContact h2, .principalContact--apply h2 {
    font-size: 15px;
    padding-top: 10px; }
  .principalContact article, .principalContact--apply article {
    margin-top: 15px;
    margin: 0px; }
  .principalContact, .principalContact--apply {
    margin: 1px 76px; }
  #botonContact {
    font-size: 1rem;
    width: 8rem; }
  .mainContact {
    background-position: 100vw;
    background-size: 125vw; }
    .mainContact .titulosPrincipales {
      color: aliceblue;
      font-size: 17px;
      padding-top: 11px;
      margin-left: 40px; }
      .mainContact .titulosPrincipales #botonContact {
        font-size: 1rem;
        width: 11rem; }
  input, textarea {
    height: 30px; }
  .copyRight {
    font-size: 10px; }
  .whatsapp {
    width: 40px; }
  .LinkedIn {
    width: 40px; }
  .logoCocreative {
    width: 92px; } }

.principalIndex {
  background-color: #EF476F;
  width: 100vw;
  max-width: fit-content; }

.principal__slogan {
  color: #f8ffe5;
  text-align: center;
  margin: 2rem;
  padding: 1rem; }

.fotoPortada {
  width: 100%;
  height: auto;
  margin: 0px; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px; }

.mainAbout {
  background-image: url(../multimedia/about-us-sign.jpg);
  background-position: top center;
  background-size: 100vw;
  margin: 0px;
  height: 1010px; }

.contenedorPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*     background-color: #EF476F;
 */
  width: 100vw;
  height: fit-content;
  padding: 0; }
  .contenedorPrincipal h1 {
    color: #073B4C;
    width: 250px;
    font-size: 35px;
    margin-left: 850px; }
  .contenedorPrincipal h2 {
    color: #073B4C;
    font-size: 25px;
    width: 150px;
    margin-left: 800px; }
  .contenedorPrincipal h3 {
    font-style: normal;
    width: 150px;
    margin: 10px; }
  .contenedorPrincipal p {
    color: #052b37;
    font-size: 18px;
    margin: 0px;
    text-align: justify;
    width: 710px;
    height: 95px;
    margin-left: 760px; }
  .contenedorPrincipal div {
    margin-top: 0px; }

.principalService {
  width: 100vw;
  height: 180vh; }

.fotoBusqueda {
  width: 350px;
  height: min-content;
  margin-top: 20px; }

.articleService {
  display: flex;
  display: inline-block;
  height: auto;
  padding: 40px; }

.fontTitleservice {
  color: #073B4C;
  font-size: 30px;
  margin: 82px 149px 69px 29px; }

.fontParragraphservice {
  color: #073B4C;
  font-size: 15px;
  margin: 25px 50px 10px 5px; }

.fontTitleservice2 {
  color: #073B4C;
  width: 155px;
  font-size: 30px;
  margin: 82px 190px 69px 29px; }

.fontParragraphservice2 {
  color: #073B4C;
  font-size: 15px;
  margin: 25px 50px 10px 25px; }

.lista2 {
  margin-top: -25px;
  margin-left: 7px; }

.lista3 {
  margin-top: 42px; }

.whatweoffer {
  color: #EF476F;
  margin-left: 650px;
  margin-top: 15px;
  font-size: 25px; }

.card-text {
  font-size: 10px; }

/* .principalApply{
    background-color: #EF476F;
    width: 99vw;
    height: fit-content;
} */
.textoForm {
  width: 60vw;
  color: white;
  line-height: 1;
  font-size: 15px; }

.textoComment {
  width: 60vw;
  font-size: 18px; }

.formApply {
  width: 70vw;
  height: fit-content;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #EF476F;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  font-size: 25px; }

#botonApply {
  cursor: pointer; }

#botonApply {
  background-color: white;
  color: #EF476F;
  text-align: center;
  padding: 2rem;
  font-weight: 900;
  font-size: 1.8rem;
  width: 12rem; }

.colorFondoapply {
  background-image: url(../multimedia/pruebamili.jpg);
  background-position: 100vw;
  background-size: 100vw;
  margin: 0px;
  height: fit-content; }
  .colorFondoapply h1 {
    font-size: 40px;
    color: #073B4C;
    background-color: white;
    width: 250px;
    margin-left: 606px; }
  .colorFondoapply .textoJoin {
    font-size: 30px;
    color: #073B4C;
    background-color: white;
    width: 250px;
    margin-left: 606px; }

.studylevel {
  line-height: 1.6; }

.mainContact {
  background-image: url(../multimedia/foto4.jpg);
  background-position: 100vw;
  background-size: 100vw;
  margin: 0px;
  width: 100vw; }

.principalContact, .principalContact--apply {
  background-color: #EF476F;
  width: fit-content;
  height: fit-content;
  margin: 0px 150px;
  position: relative;
  padding-bottom: 1rem; }

.legendFormulario {
  color: #f8ffe5;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem; }

.formularioContacto {
  font-size: 1.5rem;
  color: #f8ffe5;
  line-height: 2; }

.formContact {
  width: 70vw;
  height: fit-content;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #f4beca;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem; }

input, textarea {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  border: none; }

textarea {
  min-height: 10rem; }

#botonContact {
  background-color: white;
  color: #EF476F;
  text-align: center;
  padding: 2rem;
  font-weight: 900;
  font-size: 1.8rem;
  width: 12rem; }

#botonContact {
  cursor: pointer; }

.nosotras {
  background-color: #EF476F; }

.tituloAbout {
  background-color: #f8ffe5;
  width: 100vw;
  margin: 0px;
  padding: 15px;
  text-align: center; }
  .tituloAbout h2 {
    font-size: 35px;
    color: #EF476F; }

.tituloUS {
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 0px; }

.textoUS {
  text-align: center; }

.fotoMagui {
  display: flex;
  justify-content: start;
  background-color: white;
  width: 30rem;
  height: 35rem;
  padding: 1rem;
  margin: 2.5rem; }

.fotoMili {
  display: flex;
  justify-content: start;
  background-color: white;
  width: 30rem;
  height: 35rem;
  padding: 1rem;
  margin: 2.5rem; }

.fotoEuge {
  display: flex;
  justify-content: end;
  background-color: white;
  width: 30rem;
  height: 35rem;
  padding: 1rem;
  margin: 2.5rem; }

.fotoMagui {
  filter: grayscale(100%);
  transition: all 5s; }

.fotoMagui:hover {
  margin: 20px;
  filter: none; }

.fotoMili {
  filter: grayscale(100%);
  transition: all 5s; }

.fotoMili:hover {
  margin: 20px;
  filter: none; }

.fotoEuge {
  filter: grayscale(100%);
  transition: all 5s; }

.fotoEuge:hover {
  margin: 20px;
  filter: none; }

html {
  font-size: 62.5%;
  padding: 0px;
  margin: 0px; }

/* esto es para que el REM valga 10px sirve para que se adapte a celular*/
/* todos los H van a tener estas propiedades */
.principal__slogan {
  color: #f8ffe5;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 1rem; }

.legendApply {
  color: #f8ffe5;
  font-size: 35px;
  text-align: center;
  font-weight: bold; }

h3 {
  color: #073B4C;
  font-style: bold;
  font-weight: bold; }

p {
  font-size: 15px;
  line-height: 1.6; }

header {
  width: 100vw;
  height: fit-content;
  padding: 0;
  margin: 0; }
  header ul {
    list-style: none;
    font-size: 0;
    width: 50vw;
    display: none; }
    header ul li {
      display: inline-block;
      width: 40vw;
      text-align: right;
      position: static;
      font-size: 15px; }
  header ul:hover {
    cursor: pointer;
    color: #073B4C; }
    header ul:hover ul {
      position: absolute;
      font-size: 15px;
      display: none; }
      header ul:hover ul li {
        display: block;
        text-align: left; }

ul li:hover ul {
  display: block; }

footer {
  background-color: #073B4C;
  height: 25%;
  width: 100vw;
  margin: 0px; }

.copyRight {
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: right;
  margin-right: 15px; }

.whatsapp {
  display: flex;
  display: inline-block;
  justify-content: start;
  width: 50px;
  padding: 1rem; }

.LinkedIn {
  display: flex;
  justify-content: start;
  width: 50px;
  padding: 1rem; }

.logoCocreative {
  width: 150px;
  height: auto;
  margin: 1rem;
  padding: 1rem; }

.card-link {
  font-size: 10px; }

.titulosPrincipales {
  font-size: 35px;
  color: #073B4C;
  margin-left: 470px; }
