
.mainAbout{
    background-image: url(../multimedia/about-us-sign.jpg);
    background-position: 100vw;
    background-size: 100vw;
    margin: 0px;
    height: fit-content;
}
.contenedorPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
/*     background-color: #EF476F;
 */ width: 100vw;
    height: fit-content;
    padding: 0;
    h2{ 
        color: #073B4C;
        font-size: 25px;
    }
    h3{
    font-style: normal;
    font-family:'Montserrat', sans-serif;
    margin: 10px;
    }
    p{
        color: #f8ffe5;
        font-size: 15px;
        margin: 15px;
    }  
    div{
        margin-top: 0px;
    }
    
}

