
.mainAbout{
    background-image: url(../multimedia/about-us-sign.jpg);
    background-position: top center;
    background-size: 100vw;
    margin: 0px;
    height: 1010px;
}
.contenedorPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
/*     background-color: #EF476F;
 */ width: 100vw;
    height: fit-content;
    padding: 0;
    
    h1{
        color: #073B4C;
        width: 250px;
        font-size: 35px;
        margin-left: 850px
    }
    h2{ 
        color: #073B4C;
        font-size: 25px;
        width: 150px;
        margin-left: 800px
    }
    h3{
    font-style: normal;
    width: 150px;
    margin: 10px;
    }
    p{
        color:#052b37;
        font-size: 18px;
        margin: 0px;
        text-align: justify;
        width: 710px; 
        height: 95px;
        margin-left: 760px;
    }  
    div{
        margin-top: 0px;
    }    
}



