.card-text{
    font-size: 10px;
}
/* .principalApply{
    background-color: #EF476F;
    width: 99vw;
    height: fit-content;
} */
.textoForm{
    width: 60vw;
    color: white;
    font-family:'Montserrat', sans-serif;
    line-height:1;
    font-size: 15px;
}
.textoComment{
    width: 60vw;
    font-size: 18px;
}

.formApply{
    width: 70vw;
    height: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #EF476F;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    font-size: 25px;
}
#botonApply{
    cursor: pointer;
}

#botonApply{
    background-color:white;
    color:#EF476F;
    text-align: center;
    padding: 2rem;
    font-weight: 900;
    font-size: 1.8rem;
    width: 12rem;
}
.colorFondoapply{
    background-image: url(../multimedia/pruebamili.jpg);
    background-position: 100vw;
    background-size: 100vw;
    margin: 0px;
    height: fit-content;
    h1{
        font-size: 40px;
        color: #073B4C;
        background-color: white;
        width: 250px;
        margin-left: 606px;
    }
    .textoJoin{
        font-size: 30px;
        color: #073B4C;
        background-color: white;
        width: 250px;
        margin-left: 606px;
    }
}

.studylevel{
    line-height: 1.6;
}
