.card-text{
    font-size: 10px;
}
.principalApply{
    background-color: #EF476F;
    width: 150rem;
    height: 150rem;
}
.textoForm{
    width: 60vw;
    font-family:'Montserrat', sans-serif;
    line-height:1;
}
.textoComment{
    width: 60vw;
}
.formApply{
    width: 70vw;
    height: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #f4beca;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    font-size: 25px;
}
#botonApply{
    cursor: pointer;
}

#botonApply{
    background-color:white;
    color:#EF476F;
    text-align: center;
    padding: 2rem;
    font-weight: 900;
    font-size: 1.8rem;
    width: 12rem;
}
.colorFondoapply{
    background-color: #EF476F;
    


}
