.principalIndex{
    background-color: #EF476F;
    width: 100vw;
    max-width: fit-content;
}
.principal__slogan{
    color: #f8ffe5;
    text-align: center;
    font: italic;
    margin: 5rem;
    padding: 0rem;
}

.fotoPortada{
    background-image:none;
    background-position: center;
    width: 90%;
    height:auto;
    padding: 0rem 2rem 1rem 7rem;
}
.bodyIndex{
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;
}
