.principalIndex{
    background-color: #EF476F;
    width: 100vw;
    max-width: fit-content;
}
.principal__slogan{
    color: #f8ffe5;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
}

.fotoPortada{
    width: 100%;
    height:auto;
    margin: 0px;
    }
body{
    font-family:'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    margin:0px;
    padding: 0px;
}
