 @media only screen and (max-width:500px){ 
    .fotoMagui{
        width: 0rem;
        height: fit-content;}

    .fotoMili{
        width: 10rem;
        height: fit-content;
    }
    .fotoEuge{
        width: 10rem;
        height: fit-content;
    }    
    .principalService{
        h1{
            font-size: 18px;
        }
        h2{
            font-size: 16px;
        }
        h3{
            font-size: 14px;
        }
        h4{
            font-size: 12px;
        }
        margin: 0px;
        
    }
    .fotoPortada{
        width: 100vw;
        height: fit-content;
    }
    .principal__slogan{
        font-size: 15px;
        padding: 15px;
        padding-bottom: 5px;
        margin: 1rem;
    }  
    .mainAbout div {
        margin-left: 0px;
       
    }      
    .mainAbout{
        background-size: 105vw 124vh;
    }
    
    .colorFondoapply{
        font-size: 10px;
       
        h2{
            font-size: 24px;
        }
        h3{
            color: aliceblue;
        }
        
        .studylevel{
            font-size: 11px;
        }
        #botonApply{
            font-size: 1rem;
            width: 8rem;
        }
    }

    .colorFondoapply h1{
            font-size: 30px;
            width: 160px;
            margin-left: 168px;
        }
    
    .textoJoin{
        font-size: 30px;
        width: 238px;
        margin-left: 132px;
    }

    label{
        font-size: 11px;
        select{
            width: 223px;
        }
    }   
    .contenedorPrincipal p{
        font-size: 5px;
        
        h3{
            font-size: 5px;
            justify-content: left;    
        }
        h2{
            font-size: 8px;
            justify-content: left;    
        }
    } 
    footer p{
        font-size: 3px;
    }

    .principalContact{ 
        width:fit-content;
        height: fit-content;
        margin-left: 15px;    
    }
    .principalContact h2{
        font-size: 15px;
        padding-top:10px 

}
.principalContact article{
    margin-top: 15px;
    margin: 0px;
}

.principalContact, .principalContact--apply {
    margin: 0px 40px;
 }

 #botonContact{   
    font-size: 1rem;
    width: 8rem;
 }

 header ul li {    
    font-size: 10px; 
}
}
  
    
    





