 @media screen and (max-width:500px){ 
    .col-lg-12 {
        margin-inline: inherit;
    } 
    .col-lg-2 {
        margin-inline: inherit;
    } 
    .fotoMagui{
        width: 10rem;
        height: fit-content;}
    .fotoMili{
        width: 10rem;
        height: fit-content;
    }
    .fotoEuge{
        width: 10rem;
        height: fit-content;
    }    
    .fotoPortada{
        width: 100vw;
        height: fit-content;
    }
    .principal__slogan{
        font-size: 15px;
        padding: 15px;
        padding-bottom: 5px;
        margin: 1rem;
    }  
    .mainAbout div {
        margin-inline: inherit;
        h2{
            margin-inline: inherit;
        }
    }  
    .mainAbout{
        background-size: 105vw 124vh;

    }
    div select{
        font-size: 10px;
        width: 150px;
    }
    .colorFondoapply{
        font-size: 10px;
    }
    label{
        font-size: 8px;
    }   
    .contenedorPrincipal p{
        font-size: 5px;
        width: 90vw;
        
        h3{
            font-size: 5px;
            justify-content: left;    
        }
        h2{
            font-size: 8px;
            justify-content: left;    
        }
    } 
    footer p{
        font-size: 3px;
    }
    main .principal__tituloOS{
        font-size: 50px;           
    }
    .logoCocreative{
        width: 15px;
        height: 25px;
    }
    
    }
  
   
    
    





