@media screen and (max-width:500px){
    
    .logoCocreative{    
        width: 50px;
    }
  
    .principalIndex{ 
        background-color: #EF476F;
        width: 100vw;
        height: 210px;
    }   
        
    .fotoPortada{
        width: 100vw;
        height: 150px;
        padding: 15px;
    }
    .principal__slogan{
        font-size: 15px;
        padding: 15px;
        padding-bottom: 5px;
        margin: 1rem;
    }
    
    div select{
        font-size: 10px;
        width: 150px;
    }
    .colorFondoapply{
        font-size: 10px;
    }
    label{
        font-size: 10px;
    }
    
    }
        
    
    .copyRight{
        font-size: small;
    }

    .whatsapp{
        width:2rem;
        height:2rem;
    }
    .LinkedIn{
        width:2rem;
        height:2rem;
    }

    .contenedorPrincipal p{
        font-size: 5px;
        width: 90vw;
              
        h3{
            font-size: 1rem;
            justify-content: left;    
        }
        h2{
            font-size: 1rem;
            justify-content: left;    
        }
    }
    footer p{
        font-size: 3px;
    }
    
    


/* RESPONSIVE CEL OUR SERVICES */
@media screen and (max-width:500px){
    main .principal__tituloOS{
        font-size: 50px;           
    }
    }
    




