
.principalService{
    background-color: #EF476F;
    width: 100vw;
    height: fit-content;
}
.fotoBusqueda{
    width: 150px;
    height: 150px;
    padding: 20px;
}

.articleService{
    display: flex;
    display: block;
    width: 80%;
    height: auto;
    padding: 15px;
    
}

.fontTitleservice{
    color: antiquewhite;
    font-size: 30px;
}

.fontParragraphservice{
    color:antiquewhite;
    font-size: 20px;
}
