.fotoMagui{
    filter: grayscale(100%);
    transition:all 5s;
}
.fotoMagui:hover{
    margin: 20px;
    filter: none; 
}

.fotoMili{
    filter: grayscale(100%);
    transition:all 5s;
}
.fotoMili:hover{
    margin: 20px;
    filter: none; 
}

.fotoEuge{
    filter: grayscale(100%);
    transition:all 5s;
}
.fotoEuge:hover{
    margin: 20px;
    filter: none; 
}
.principalService{
    background-color: #EF476F;
    width: 100vw;
    height: auto;
}

.imagenSteps{
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 1rem 10rem 1rem 7rem;
}
