$colorFondobody: #EF476F;

$fontTexto: 'Montserrat', sans-serif;

$sizeTextotitulos: 15px;


.principalContact{
    background-color: #EF476F;
    width: 5rem;
    height: 30rem;
    margin: 5rem 5rem;
    position: relative;
    padding-bottom: 2rem;
    min-height: 100vh;
}

.principalContact--apply{
    @extend .principalContact;
    width: 90%;
    height: auto;
}

@mixin flex-row-justify{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 40px;
    padding: 12px;
}

article{
    @include flex-row-justify;
}


$estilos:(
    colortexto: white    
);

.principal__tituloOS{
color: map-get($estilos, colortexto);
}






