@import "variables";
@import "mediaqueries";
@import "index";
@import "aboutus";
@import "our services";
@import "apply";
@import "contact us";
@import "whoweare";


html{
    font-size: 62.5%;
    padding: 0px;
    margin: 0px;
}/* esto es para que el REM valga 10px sirve para que se adapte a celular*/

/* todos los H van a tener estas propiedades */
h1{
    color:#f8ffe5;
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;  
    font-weight: bold;  
}

h2{ 
    color:#f8ffe5;
    font-family: 'Montserrat', sans-serif; 
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

h3{ 
    color: #073B4C;
    font-family: 'Montserrat', sans-serif;  
    font-style: bold;
    font-weight: bold;
}

p{  
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

header{
    width:100vw;
    height: fit-content;
    padding: 0;
    margin: 0;
    
     ul{
        list-style: none;
        font-size: 0;
        width: 50vw;
        display: none;
        li{
            display: inline-block;
            width: 40vw;
            text-align: right;
            position:static;
            font-size: 15px;
        }
    }
    ul:hover{
        cursor: pointer;
        color: #073B4C;
        ul{
            position: absolute;
            font-size: 15px;
            display: none;
            li{
                display: block;
                text-align: left;
        }
    }
}
}
ul li:hover ul{
    display: block;
}

footer{
    background-color: #073B4C;
    height: 25%;
    width: 100vw;
    margin: 0px;
p{
    font-size: 15px;
    }
}

/* .navbar-toggler{
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    display: inline-flex;
    flex-basis: initial;
}
.navbar-brand{
    padding: 0%;
    margin: 0%;
} */



.copyRight{ 
    font-size: 13px;
    color: white;
    display:flex;
    justify-content:right;
    margin-right: 15px;
}
.whatsapp{
    display:flex;
    display: inline-block;
    justify-content: start;
    width: 50px;
    padding: 1rem;
}
.LinkedIn{
    display:flex;
    justify-content: start;
    width: 50px;
    padding: 1rem;
}
.logoCocreative{    
    width: 150px;
    height: auto;
    margin: 1rem;
    padding: 1rem;
}

.card-link{
    font-size: 10px;
}

